---
interface Props {
  colorScheme?: 'light' | 'dark'
}
const props = Astro.props;
---

<!doctype html>
<html lang="en" data-mantine-color-scheme={props.colorScheme || 'light'}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SnowMail Test</title>
	</head>
	<body>
		<slot />
	</body>
</html>
